@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

.footer-brand{
    font-family: 'Mogra', cursive;
}


.footer{
    background: url("../../assets/images/11.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}